.connnect-wallet-button-container {
  display: block;
  width: 240px;
  @media screen and (max-width: 768px) {
    width: 200px;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
  }

  &.full-width {
    width: 100%;
  }

  .wallet-button {
    width: 100%;
    height: 45px;
    padding: 8px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      font-size: 10px;
      height: 45px;
      height: 21.93px;
    }

    @media screen and (max-width: 500px) {
      font-size: 13px;
      height: 30px;
    }
  }

  .not-connected {
    background: #37fad3;
    color: #20253b;
  }

  .connected {
    background: #262b43;
    border: 1px solid #37fad3;
    box-shadow: 1px 1px 20px rgba(255, 134, 0, 0.1);
    color: #37fad3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 276px;
    position: absolute;

    z-index: 400;

    @media screen and (max-width: 768px) {
      width: 200px;
    }

    @media screen and (max-width: 500px) {
      width: calc(100vw - 66px);
    }
  }

  img {
    height: 34px;
    margin-left: 15px;

    @media screen and (max-width: 768px) {
      height: 14px;
      margin-left: 8px;
    }
  }

  .wallet-info {
    position: absolute;
    width: 276px;
    padding: 24px 0px 0px;
    border-top: none;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #262b43;
    margin-top: 23px;

    @media screen and (max-width: 768px) {
      width: 200px;
      padding: 0px;
    }

    @media screen and (max-width: 500px) {
      width: calc(100vw - 66px);
      padding: 0px;
    }

    z-index: 300;

    &-address {
      display: flex;
      margin-top: 20px;
      width: 100%;
      padding: 0px 30px;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
        padding: 0px 10px;
      }

      .circle {
        width: 15px;
        height: 15px;
        background: #37fad3;
        border: 3px solid #2f928b;
        border-radius: 7.5px;
      }

      .address {
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        padding-left: 12px;

        @media screen and (max-width: 768px) {
          padding-left: 5px;
        }
      }
    }

    .copy-address {
      cursor: pointer;
      margin-top: 7px;

      .icon {
        height: 12px;
      }

      .copied {
        font-weight: 400;
        font-size: 12px;
        color: #3b4a61;
        padding-left: 7px;
      }
    }

    .wallet-balance {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      font-weight: normal;
      font-size: 12px;
      color: #fff;
      margin-top: 12px;

      &-token {
        width: 100%;
        height: 19px;
        border-radius: 3px;
        margin-bottom: 4px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 30px;

        @media screen and (max-width: 768px) {
          padding: 0px 12px;
        }
      }
    }

    .wallet-disconnect-button {
      background: #b6b2ef;
      border-bottom-left-radius: 13px;
      border-bottom-right-radius: 13px;
      height: 38px;
      width: 100%;
      color: #20253b;
      font-weight: 500;
      font-size: 12px;
      border: none;
      outline: none;
      margin-top: 16px;
    }
  }
}
