.attention-banner-container {
  width: 100vw;
  max-width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #caeb70;
  padding: 10px;

  .attention-banner-icon {
    height: 17px;
    margin-right: 12px;
  }

  .attention-banner-text {
    font-weight: 500;
    font-size: 16px;
    color: #20253b;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  .banner-close {
    position: absolute;
    right: 25px;
    top: 18px;
    color: #20253b;
  }
}

.ukraine-container-wrapper {
  // padding: 0px 67px;
  display: flex;
  justify-content: flex-end;
  width: 516px;
  height: 155px;

  position: fixed;
  right: 31px;
  bottom: 71px;

  cursor: pointer;

  @media screen and (max-width: 768px) {
    width: 100vw;
    max-width: 100%;
    height: 100px;
    right: 0px;
    bottom: 0px;
  }

  .ukraine-banner-close {
    position: absolute;
    margin-right: 15px;
    margin-top: 15px;
    color: #fff;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  .ukraine-container {
    display: flex;
    width: 100%;
    height: 100%;
    
    background: #053c8a;
    border-radius: 11px;
    color: #fff;

    @media screen and (max-width: 768px) {
      width: 100%;
      border-radius: 0px;
    }
  }

  .ukraine-icon {
    height: 100%;
  }

  .banner-content {
    width: 313px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 36px;

    .title {
      font-weight: bold;
      font-size: 24px;
      margin: 0px;

      @media screen and (max-width: 425px) {
        font-size: 16px;
      }
    }

    .content {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      margin-top: 8px;

      @media screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 15px;
      }
    }

    .donate {
      color: #efce2b;
    }
  }
}

.defi-banner-container {
  width: calc(50% - 14px);
  max-width: 560px;
  background: #313650;
  border-radius: 11px;
  height: 123px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: 100vw;
    max-width: 100%;
  }

  @media screen and (max-width: 500px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 425px) {
    height: 75px;
    margin-top: 40px;
  }

  .defi-banner-defi {
    height: 43.7px;
    margin-left: 63px;

    @media screen and (max-width: 1200px) {
      // height: 23.7px;
      margin-left: 43px;
    }

    @media screen and (max-width: 1024px) {
      // height: 23.7px;
      margin-left: 23px;
    }

    @media screen and (max-width: 425px) {
      height: 23.7px;
      margin-left: 10px;
    }
  }

  .defi-banner-text {
    font-size: 18.8413px;
    line-height: 25px;
    color: #ffffff;
    padding-left: 14px;
    display: inline-block;
    flex: 1;

    @media screen and (max-width: 425px) {
      font-size: 12px;
      line-height: 13px;
    }
  }

  .defi-banner-bear {
    height: 130px;
    margin-bottom: 7px;
    justify-self: flex-end;
    margin-right: 10px;

    @media screen and (max-width: 425px) {
      height: 75px;
      margin-bottom: 0px;
    }
  }
}
