.vault-pool-container {
  background: #262b43;
  border: 2px solid #b6b2ef;
  border-radius: 30px;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 59px;
  cursor: pointer;

  &.kujira {
    background: #22252E;
    border: none;
  }

  &.disabled {
    cursor: not-allowed;
  }

  .pool-name-wrapper {
    background: #313650;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 5px 24px;
    margin-left: 20px;
    margin-right: 20px;

    &.kujira {
      background: #323843;
      border: none;
    }

    img {
      height: 64px;
    }

    .pool-name {
      margin-left: 11px;

      &-text {
        color: #ffffff;
        font-weight: 700;
        font-size: 30px;
      }

      &-category {
        color: #b6b2ef;
        font-weight: 500;
        font-size: 16px;

        &.kujira {
          color: #D3483E;
        }
      }
    }
  }

  .pool-values-wrapper {
    margin-top: 15px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    .value-item {
      background: #313650;
      border-radius: 30px;
      margin-left: 11px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 17px 26px;

      &.kujira {
        background: #323843;
        border: none;
      }

      &.apy {
        margin-left: 0px;
        max-width: 127px;
      }

      &-name {
        color: #b6b2ef;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;

        &.kujira {
          color: #D3483E;
        }
      }

      &-value {
        font-weight: 700;
        font-size: 20px;
        line-height: 21px;
        color: #ffffff;
      }
    }
  }

  .pool-active-wrapper {
    border-radius: 0px 0px 30px 30px;
    background: #295460;
    display: flex;
    align-items: center;
    padding: 19px 45px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    img {
      height: 15px;
      margin-right: 5px;
    }

    span {
      padding-left: 38px;
      color: #37fad3;
      font-weight: 700;
      font-size: 30px;
      line-height: 21px;
    }
  }
}
