.view-container {
  width: 90vw;
  max-width: 653px;
  background: #262b43;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  &.your-liquidity-panel {
    width: 415px;
    margin-right: 80px;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    padding: 30px 24px;
  }

  &-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    height: 86px;
    width: 100%;
    color: #efeeff;

    &.border {
      border-bottom: 1px solid #b6b2ef;
    }

    .view-navigator-left {
      width: 30px;
      height: 30px;
      border: 1px solid #b6b2ef;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-left: 32px;
      cursor: pointer;

      @media screen and (max-width: 500px) {
        margin-right: 20px;
      }

      svg {
        color: #b6b2ef;
        height: 11px;
      }
    }

    .view-container-title {
      width: 100%;
      text-align: center;
      padding: 0px 32px;
    }
  }

  &-content {
    width: 100%;

    &.border {
      padding-top: 20px;
    }
  }

  &-subtitle {
    color: #b6b2ef;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding: 6px 0px;
  }

  &-noticetitle {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  &-row {
    width: 100%;
    margin-bottom: 20px;
    padding: 0px 29px;

    &.half {
      width: 50%;
      align-self: flex-start;
    }

    &.border {
      border: 1px solid rgba(140, 154, 191, 1);
      border-radius: 8px;
    }

    &.hoverable {
      &:hover {
        border: 1px solid rgba(255, 111, 3, 1);
      }
    }
  }

  &-button {
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 90px;
    border: none;
    outline: none;
    background: #37FAD3;
    font-weight: 500;
    font-size: 24px;
    color: #20253b;
    margin-top: 25px;
    cursor: pointer;

    &.enter-amount {
      background: #313650;
      color: #60699E;
      cursor: default;
    }

    &.insufficient {
      background: #FF6230;
      color: #20253B;
      cursor: default;
    }

    &.withdraw {
      background: #B6B2EF;
    }
    // &.deposit {
    //   background: #E58410;
    //   color: #FFFFFF;
    // }
  }

  .collect-select {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .collect-item {
      width: calc(50% - 12px);
      height: 90px;
      background: #313650;
      border-radius: 51.5863px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 20px;
      color: #60699e;
      cursor: pointer;

      &.selected {
        background: #B6B2EF;
        border: 1px solid #B6B2EF;
        color: #20253B;
      }

      img {
        height: 61px;
        margin-right: 11px;
      }
    }
  }
}
