@import "libraries/global";

.layout-container {
  &__header {
    padding: 0px 134px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 78px;

    &__logo {
      img {
        height: 107px;
      }
    }

    &__buttons {
      display: flex;
    }

    .header-button {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 137px;
      height: 45px;
      padding: 8px 30px;
      border-radius: 830px;
      border: 1px solid #b6b2ef;
      outline: none;
      font-weight: 500;
      font-size: 20px;
      margin-right: 7px;
      color: #b6b2ef;
      text-decoration: none;

      img {
        height: 20px;
        margin-left: 14px;
      }
    }
  }
}

.notice-container {
  width: 95vw;
  max-width: 1147px;
  margin: 0px auto 77px;
  background: #262b43;
  border-radius: 11px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding: 24px 47px 17px;
  color: #FFFFFF;
}
