@import "libraries/global";

@import "components";
@import "pages";

@import "layout";

body {
  background-color: #20253b;
  font-family: $font-family-default;
}

body * {
  box-sizing: border-box;
}

.page-container {
  padding: 30px 67px 89px;
  width: 100vw;
  max-width: 100%;
  // min-height: calc(100vh - #{$header-height});
  // display: flex;
  // justify-content: center;
  // align-items: flex-start;

  @media screen and (max-width: 768px) {
    padding: 0px 33px 30px;
  }
}

a {
  text-decoration: none;
}

.full-width {
  width: 100%;
}

.ml-2 {
  margin-left: 20px;
}
